<div class="section">
  <h3>FLAVOR SETS</h3>
  <ul class="product-grid">
  <li class="flavor-list">
    <a href="/FlavorSets/DarkChocoPremiumMix" class="flavor-link">
      <img src="/Images/thumbs/Flavor_Set6.jpg" alt="Dark Choco Premium Mix"/>
      <p>Dark Choco Premium Mix</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/DarkChocoRainbowCustomMix" class="flavor-link">
      <img src="/Images/thumbs/Flavor_Set5.jpg" alt="Dark Choco Rainbow Custom Mix"/>
      <p>Dark Choco Rainbow Custom Mix</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/PurplePinkGoldTheme" class="flavor-link">
      <img src="/Images/thumbs/Flavor_Set4.jpg" alt="Purple Pink Gold Theme with Meringue Roses"/>
      <p>Purple Pink Gold Theme with Meringue Roses</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/UnicornFloral" class="flavor-link">
      <img src="/Images/thumbs/Flavor_Set3.jpg" alt="Pink Purple Yellow Unicorn Floral"/>
      <p>Pink Purple Yellow Unicorn Floral</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/SesameStreet" class="flavor-link">
      <img src="/Images/thumbs/Flavor_Set2.jpg" alt="Sesame Street Theme"/>
      <p>Sesame Street Theme</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/FathersDay" class="flavor-link">
      <img src="/Images/thumbs/Flavor_Set1.jpg" alt="Father's Day Theme"/>
      <p>Father's Day Theme</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/StPatricksDay" class="flavor-link">
      <img src="/Images/thumbs/Flavor_StPatricksDayThemed.jpg" alt="St Patrick's Day Themed"/>
      <p>St Patrick's Day Themed</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/SonicTheme" class="flavor-link">
      <img src="/Images/thumbs/Flavor_SonictheHedgehogTheme.jpg" alt="Sonic the Hedgehog Theme"/>
      <p>Sonic the Hedgehog Theme</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/Graduation" class="flavor-link">
      <img src="/Images/thumbs/Flavor_GraduationThemeMiniDonuts.jpg" alt="Graduation Theme Mini Donuts"/>
      <p>Graduation Theme Mini Donuts</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/DarkChocoTrailMix" class="flavor-link">
      <img src="/Images/thumbs/Flavor_DarkChocoTrailMix.jpg" alt="Dark Choco Trail Mix"/>
      <p>Dark Choco Trail Mix</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/HarryPotterGryffindor" class="flavor-link">
      <img src="/Images/thumbs/Flavor_Harry PotterGryffindorTheme.jpg" alt="Harry Potter - Gryffindor Theme"/>
      <p>Harry Potter - Gryffindor Theme</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/Minecraft" class="flavor-link">
      <img src="/Images/thumbs/Flavor_MinecraftTheme.jpg" alt="Minecraft Theme"/>
      <p>Minecraft Theme</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/Doctor" class="flavor-link">
      <img src="/Images/thumbs/Flavor_DoctorTheme.jpg" alt="Doctor Theme"/>
      <p>Doctor Theme</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/HotWheels" class="flavor-link">
      <img src="/Images/thumbs/Flavor_HotWheelsTheme.jpg" alt="Hot Wheels Theme"/>
      <p>Hot Wheels Theme</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/PinkChocoGirlie" class="flavor-link">
      <img src="/Images/thumbs/Flavor_PinkChocoWhiteGirlieTheme.jpg" alt="Pink Choco White Girlie Theme"/>
      <p>Pink Choco White Girlie Theme</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/Mallows" class="flavor-link">
      <img src="/Images/thumbs/Flavor_PinkWhiteFlowerswithGoldPearlsTheme.jpg" alt="Pink-White Flowers with Gold Pearls Theme"/>
      <p>Pink-White Flowers with Gold Pearls Theme</p>
    </a>
  </li>  
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/PastelYellowFloral" class="flavor-link">
      <img src="/Images/thumbs/Flavor_PinkWhiteFlowerswithGoldPearlsTheme.jpg" alt="Pastel Yellow Floral Theme"/>
      <p>Pastel Yellow Floral Theme</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/Pokemon" class="flavor-link">
      <img src="/Images/thumbs/Flavor_PokemonTheme.jpg" alt="Pokemon Theme"/>
      <p>Pokemon Theme</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/KPopDemonHunters" class="flavor-link">
      <img src="/Images/thumbs/Flavor_KPopDemonHuntersTheme.jpg" alt="KPop Demon Hunters Theme"/>
      <p>KPop Demon Hunters Theme</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/PikachuPokeBall" class="flavor-link">
      <img src="/Images/thumbs/Flavor_PikachuPokeBallTheme.jpg" alt="Pikachu-Poke Ball Theme"/>
      <p>Pikachu-Poke Ball Theme</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/Halloween" class="flavor-link">
      <img src="/Images/thumbs/Flavor_HalloweenTheme.jpg" alt="Halloween Theme"/>
      <p>Halloween Theme</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/Huntrix" class="flavor-link">
      <img src="/Images/thumbs/Flavor_HuntrixTheme.jpg" alt="Huntrix Theme"/>
      <p>Huntrix Theme</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/SajaBoys" class="flavor-link">
      <img src="/Images/thumbs/Flavor_SajaBoysTheme.jpg" alt="Saja Boys Theme"/>
      <p>Saja Boys Theme</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/Spiderman" class="flavor-link">
      <img src="/Images/thumbs/Flavor_SpidermanTheme.jpg" alt="Spiderman Theme"/>
      <p>Spiderman Theme</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/Christmas" class="flavor-link">
      <img src="/Images/thumbs/Flavor_ChristmasTheme.jpg" alt="Christmas Theme"/>
      <p>Christmas Theme</p>
    </a>
  </li>
  <li class="flavor-list">
    <a href="/FlavorSets/Roblox" class="flavor-link">
      <img src="/Images/thumbs/Flavor_RobloxTheme.jpg" alt="Roblox Theme"/>
      <p>Roblox Theme</p>
    </a>
  </li>  
</ul>
</div>
