<div class="section">
  <h3>MINI DONUTS</h3>
  <ul class="product-grid">    
        <li class="flavor-list">
            <a href="/MiniDonuts/VioletS" class="flavor-link">
            <img src="/Images/thumbs/Flavor_VioletS.jpg" alt="Violet Sprinkles"/>
            <p>Violet Sprinkles</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/UbeGlaze" class="flavor-link">
            <img src="/Images/thumbs/Flavor_UbeGlaze.jpg" alt="Ube Glaze"/>
            <p>Ube Glaze</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/Ube" class="flavor-link">
            <img src="/Images/thumbs/FLavor_Ube.jpg" alt="Ube"/>
            <p>Ube</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/StrawberryGlaze" class="flavor-link">
            <img src="/Images/thumbs/Flavor_StrawberryGlaze.jpg" alt="Strawberry Glaze"/>
            <p>Strawberry Glaze</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/RainbowSprinkles" class="flavor-link">
            <img src="/Images/thumbs/Flavor_RainbowS.jpg" alt="Rainbow Sprinkles"/>
            <p>Rainbow Sprinkles</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/RainbowConfetti" class="flavor-link">
            <img src="/Images/thumbs/Flavor_RainbowC.jpg" alt="Rainbow Confetti"/>
            <p>Rainbow Confetti</p></a>
        </li>     
        <li class="flavor-list">
            <a href="/MiniDonuts/PinkSprinkles" class="flavor-link">
            <img src="/Images/thumbs/Flavor_PinkS.jpg" alt="Pink Sprinkles"/>
            <p>Pink Sprinkles</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/PastelRainbowSprinkles" class="flavor-link">
            <img src="/Images/thumbs/Flavor_PastelRainbowS.jpg" alt="Pastel Rainbow Sprinkles"/>
            <p>Pastel Rainbow Sprinkles</p></a>
        </li>      
        <li class="flavor-list">
            <a href="/MiniDonuts/PastelRainbowBeads" class="flavor-link">
            <img src="/Images/thumbs/Flavor_PastelRainbowB.jpg" alt="Pastel Rainbow Beads"/>
            <p>Pastel Rainbow Beads</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/Original" class="flavor-link">
            <img src="/Images/thumbs/Flavor_Orig.jpg" alt="Original"/>
            <p>Original</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/DarkChocoGlaze" class="flavor-link">
            <img src="/Images/thumbs/Flavor_DarkChoco.jpg" alt="Dark Choco Glaze"/>
            <p>Dark Choco Glaze</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/Choco" class="flavor-link">
            <img src="/Images/thumbs/Flavor_Choco.jpg" alt="Choco"/>
            <p>Choco</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/BlueBeads" class="flavor-link">
            <img src="/Images/thumbs/Flavor_BlueBeads.jpg" alt="Blue Beads"/>
            <p>Blue Beads</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/BabySprinkles" class="flavor-link">
            <img src="/Images/thumbs/Flavor_BabyS.jpg" alt="Baby Sprinkles"/>
            <p>Baby Sprinkles</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/BabyBeads" class="flavor-link">
            <img src="/Images/thumbs/Flavor_BabyB.jpg" alt="Baby Beads"/>
            <p>Baby Beads</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/WhiteChocoGlazeChristmasBalls" class="flavor-link">
            <img src="/Images/thumbs/Flavor_WhiteChocoGlazeChristmasBalls.jpg" alt="White Choco Glaze Christmas Balls"/>
            <p>White Choco Glaze Christmas Balls</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/WhiteChocoGlazeChristmasMistletoe" class="flavor-link">
            <img src="/Images/thumbs/Flavor_WhiteChocoGlazeChristmasMistletoe.jpg" alt="White Choco Glaze Christmas Mistletoe"/>
            <p>White Choco Glaze Christmas Mistletoe</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/WhiteChocoGlazeChristmasPearls" class="flavor-link">
            <img src="/Images/thumbs/Flavor_WhiteChocoGlazeChristmasPearls.jpg" alt="White Choco Glaze Christmas Pearls"/>
            <p>White Choco Glaze Christmas Pearls</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/WhiteChocoGlazeChristmasTree" class="flavor-link">
            <img src="/Images/thumbs/Flavor_WhiteChocoGlazeChristmasTree.jpg" alt="White Choco Glaze Christmas Tree"/>
            <p>White Choco Glaze Christmas Tree</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/DarkChocoGlazeChristmasBalls" class="flavor-link">
            <img src="/Images/thumbs/Flavor_DarkChocoGlazeChristmasBalls.jpg" alt="Dark Choco Glaze Christmas Balls"/>
            <p>Dark Choco Glaze Christmas Balls</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/DarkChocoGlazeChristmasSprinkles" class="flavor-link">
            <img src="/Images/thumbs/Flavor_DarkChocoGlazeChristmasSprinkles.jpg" alt="Dark Choco Glaze Christmas Sprinkles"/>
            <p>Dark Choco Glaze Christmas Sprinkles</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/Chocmallows" class="flavor-link">
            <img src="/Images/thumbs/Flavor_Chocmallows.jpg" alt="Chocmallows"/>
            <p>Chocmallows</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/Almondi" class="flavor-link">
            <img src="/Images/thumbs/Flavor_Almondi.jpg" alt="Almondi"/>
            <p>Almondi</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/Chococcino" class="flavor-link">
            <img src="/Images/thumbs/Flavor_Chococcino.jpg" alt="Chococcino"/>
            <p>Chococcino</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/Cherub" class="flavor-link">
            <img src="/Images/thumbs/Flavor_Cherub.jpg" alt="Cherub"/>
            <p>Cherub</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/Mallows" class="flavor-link">
            <img src="/Images/thumbs/Flavor_Mallows.jpg" alt="Mallows"/>
            <p>Mallows</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/StrawburstSeries" class="flavor-link">
            <img src="/Images/thumbs/Flavor_StrawburstSeries.jpg" alt="Strawburst Series"/>
            <p>Strawburst Series</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/ChocoStrawburstSeries" class="flavor-link">
            <img src="/Images/thumbs/Flavor_ChocoStrawburstSeries.jpg" alt="Choco Strawburst Series"/>
            <p>Choco Strawburst Series</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/MilkyStrawburstSeries" class="flavor-link">
            <img src="/Images/thumbs/Flavor_MilkyStrawburstSeries.jpg" alt="Milky Strawburst Series"/>
            <p>Milky Strawburst Series</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/ChocoButternut" class="flavor-link">
            <img src="/Images/thumbs/Flavor_ChocoButternut.jpg" alt="Choco Butternut"/>
            <p>Choco Butternut</p></a>
        </li>
        <li class="flavor-list">
            <a href="/MiniDonuts/UbeCoco" class="flavor-link">
            <img src="/Images/thumbs/Flavor_UbeCoco.jpg" alt="Ube Coco"/>
            <p>Ube Coco</p></a>
        </li>

  </ul>
</div>
