<div class="section">
  <h3>MINI WAFFLES</h3>
  <ul class="product-grid">
    <li class="flavor-list">
        <a href="/MiniWaffles/Original" class="flavor-link">
        <img src="/Images/thumbs/Flavor_OrigW.jpg" alt="Original"/>
        <p>Original</p></a>
    </li>
    <li class="flavor-list">
        <a href="/MiniWaffles/Ube" class="flavor-link">
        <img src="/Images/thumbs/Flavor_UbeW.jpg" alt="Ube"/>
        <p>Ube</p></a>
    </li>
    <li class="flavor-list">
        <a href="/MiniWaffles/UbeDipped" class="flavor-link">
        <img src="/Images/thumbs/Flavor_UbeD.jpg" alt="Ube Dipped"/>
        <p>Ube Dipped</p></a>
    </li>
    <li class="flavor-list">
        <a href="/MiniWaffles/DarkChocoDipped" class="flavor-link">
        <img src="/Images/thumbs/Flavor_DarkChocoD.jpg" alt="Dark Choco Dipped"/>
        <p>Dark Choco Dipped</p></a>
    </li>
    <li class="flavor-list">
        <a href="/MiniWaffles/Choco" class="flavor-link">
        <img src="/Images/thumbs/Flavor_ChocoW.jpg" alt="Choco"/>
        <p>Choco</p></a>
    </li>
  </ul>
</div>
